body{
    font-family:'Cabin', Cabin, monospace;
    margin: 10px 40px 20px 40px;
}

i,#icon{
 height:20px;
 width:20px;
 font-size: 20px;
 text-align: center;
 margin-right: 30px;;
}   


#img1{
display:block;
background-color: gray;
text-align: center;
margin-left:auto;
margin-right:auto;
width :50;
height: 50;
}
.header{
text-align:center;
color:#576353;


}
.subheader{ 
    margin-left: 20px;
  

}