body{
  font-family: 'Fraunces', serif;
  font-weight: 800;
  
}

.input-group{
    margin-top:50px;
    margin-bottom:50px;
}

.carousel-item{
    height: 400px;
}
.form-control{
    width : 180px;
}
.card{
    margin:20px;/*50*/
    margin-bottom: 50px;
    margin-top: 50px;
    padding:20px;
    top:auto;
    left:auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: burlywood;
    text-align: center;

}
.card-img-top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    

}
.btn{
    background-color: rgb(194, 159, 114);
    

}
.btn-primary{
     width : auto;
    /* height: 2.5rem; */
    margin-bottom: 2rem;
    margin-top:0rem;
    border-color:burlywood;
    background-color: rgb(194, 159, 114);
    

}
.card-title,.card-text,.btn,.src{
    /* font-size: 65%; */
    font-size:2vw;
    text-align: center;
}
.card-footer{
    /* border-color:burlywood; */
    width: auto;
    background-color: white;
    border-top:1px solid burlywood;
    border-bottom: 1px solid burlywood;
    border-left: 1px solid burlywood;
    border-right: 1px solid burlywood;
}
    /* border-bottom: darkcyan; */
}
.card-deck{
    margin:20px;
    background-color: black;
    margin-bottom: 50px;
    margin-top:50px;
}
.callout {
    position: fixed;
    bottom: 35px;
    right: 200px;
    margin-left: 0px;
    max-width: 300px;
  }
  
  .callout-header {
    padding: 25px 15px;
    background: #555;
    font-size: 30px;
    color: white;
  }
  
  .callout-container {
    padding: 15px;
    background-color: #ccc;
    color: black
  }
  
  .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  .card{
    margin-bottom: 5rem;
  }
  .row{
    height: 3rem;
  }
  
  .closebtn:hover {
    color: lightgrey;
  }
  @media screen and (min-width: 601px) {
    .card-title,.card-text {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .card-title,.card-text {
      font-size: 10px;
    }
  }   
